*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('contactbg.png') no-repeat fixed;
    background-size: cover;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    width: 100%;
    padding:5px 15px;
}

.nav-header{
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

h4{
    color: #fff;
}

p{
    color: #fff;
}

.user{
    display: flex;
    padding: 0 15px;
    gap: 15px;
    align-items: end;
}
.title {
    place-self: center;
    background: linear-gradient(90deg, rgb(170, 248, 51), rgb(42, 167, 0), rgb(5, 245, 57)) -100%/ 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight:800;
    margin-top: 5%;
    animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

@media (forced-colors: active) {
    p {
        background: #212121;
        color: aquamarine
    }
}
.contact-container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 70px;
    padding: 15px 20px;
}

.parent {
    width: 300px;
    padding: 20px;

}

.card {
    padding-top: 50px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
    background: rgba(3, 160, 9, 0.73);
     border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
}

.content-box .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(40, 179, 5);
    /* border-radius: 5px; */
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
}

.icon-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid rgb(14, 167, 14);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.insta-bg {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.insta-box{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.lkd-bg{
    background: linear-gradient(135deg, #00A0DC 0%, #015C99 100%);
}

.lkd-box{
    background: linear-gradient(135deg, #00A0DC 0%, #015C99 100%);
}
