.p-title{
    color: #fcfc85;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.p-title h2{
    text-align: center;
    display: block;
}

.records{
    margin-top: 50px;
}

.table-items td{
    padding: 5px 10px;
}

th{
    background: #014c98;
    padding: 10px 5px;
    font-size: 16px;
}

td{
    padding: 5px 5px;
}

.issue-book button{
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    background-color: #575353;
    color: white;
}

.myform{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    border: 3px solid rgb(167, 93, 3);
    border-radius: 5px;
    margin-top: 50px;
    background-color: #fcfc85;
}

.myform h2{
    font-size: 40px;
    text-align: center;
    color: rgb(23, 3, 82);
    margin-top: -8px;
}

.myform form{
    display: flex;
    flex-direction: column;
    margin: 50px 5px;
    color: rgb(23, 3, 82);
}

.myform label, input{
    font-size: 30px;
    margin: 7px 5px;
}

.myform form input{
    border: 2px solid rgb(23, 3, 82);
    border-radius: 8px;
    text-align: center;
    padding: 5px 10px;
}

.btn{
    border: 2px solid rgb(23, 3, 82);
    border-radius: 8px;
    font-size: 25px;
    margin: 0px 5px;
    margin-top: 30px;
    margin-bottom: -20px;
    padding: 10px 5px;
    color: rgb(243, 242, 246);
    background-color: rgb(96, 53, 223);
    transition: 0.15s ease;
}

.btn:hover{
    background-color: rgb(42, 23, 98);
}

.no-result{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(6, 0, 117, 0.61);
    backdrop-filter: blur(20px);
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(23, 5, 158, 0.5);
    font-size: 18px;
    font-weight: 500;
}

.search_track {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 100%;
}

.search-track {
    display: flex;
    align-items: center;
    gap: 10px;
}

.track-input {
    outline: none;
    border: 2px solid #03a3af;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    color: black;
    width: 400px;
    background: white;
}

.sr-btn {
    background: #ae59ff;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: white;
    height: 100%;
    font-size: 18px;
}

.sr-btn:hover {
    background: #8b3dd8;
}

