*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('membg.png') no-repeat fixed;
    background-size: cover;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    width: 100%;
    padding:5px 15px;
}

.nav-header{
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

h4{
    color: #fff;
}

p{
    color: #fff;
}

.user{
    display: flex;
    padding: 0 15px;
    gap: 15px;
    align-items: end;
}
.title {
    place-self: center;
    background: linear-gradient(90deg, rgb(170, 248, 51), rgb(58, 240, 210), rgb(51, 123, 248)) -100%/ 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    font-weight:800;
    margin-top: 15px;
    animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

@media (forced-colors: active) {
    p {
        background: #212121;
        color: aquamarine
    }
}

.nav-search{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 600px;
    border-radius: 4px;
    margin-left: -180px;
}

.search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    min-width: 600px;
    width: 100%;
}

.search-btn{
    background: #21e30f;
    border-radius: 0 4px 4px 0;
    border: 2px solid #2fff14;
    margin: 0;
}

.search-icon{
    max-width: 41px;
    padding: 8px;
    background: #04ff00;
    border-radius: 0 4px 4px 0;
}


.mem-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    gap: 90px;
}
.mem-id{
    font-size: 21px;
    color: white;
}

#prompt .mem-name{
    font-size: 25px;
    color: white;
    font-weight: 700;
}
.container {
    position: relative;
    width: 190px;
    height: 254px;
    transition: 200ms;
}

.container:active {
    width: 180px;
    height: 245px;
}

.book-id{
    font-size: 21px;
    color: white;
}

.addmem{
    display: block;
    z-index: 10;
}
.addmem h2{
    text-decoration: none;
    color: white;
    font-size: 6em;
}
.book-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 120px;
    gap: 90px;
}

.container {
    position: relative;
    width: 190px;
    height: 254px;
    transition: 200ms;
}

.container:active {
    width: 180px;
    height: 245px;
}

#card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, rgb(6, 238, 56) 0%, rgb(5, 157, 57) 46%, rgb(54, 99, 232) 100%);
}

#prompt {
    bottom: 8px;
    left: 12px;
    z-index: 20;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    transition: 300ms ease-in-out-out;
    max-width: 110px;
    color: rgb(255, 255, 255);
}

.tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
}

.tracker:hover {
    cursor: pointer;
}


.tracker:hover ~ #card {
    transition: 300ms;
    filter: brightness(1.1);
}

.container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
}

.canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
    content: '';
    background: linear-gradient(43deg, rgb(6, 238, 56) 0%, rgb(5, 157, 57) 46%, rgb(54, 99, 232) 100%);
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
}

.tr-1 {
    grid-area: tr-1;
}

.tr-2 {
    grid-area: tr-2;
}

.tr-3 {
    grid-area: tr-3;
}

.tr-4 {
    grid-area: tr-4;
}

.tr-5 {
    grid-area: tr-5;
}

.tr-6 {
    grid-area: tr-6;
}

.tr-7 {
    grid-area: tr-7;
}

.tr-8 {
    grid-area: tr-8;
}

.tr-9 {
    grid-area: tr-9;
}

.tr-10 {
    grid-area: tr-10;
}

.tr-11 {
    grid-area: tr-11;
}

.tr-12 {
    grid-area: tr-12;
}

.tr-13 {
    grid-area: tr-13;
}

.tr-14 {
    grid-area: tr-14;
}

.tr-15 {
    grid-area: tr-15;
}

.tr-16 {
    grid-area: tr-16;
}

.tr-17 {
    grid-area: tr-17;
}

.tr-18 {
    grid-area: tr-18;
}

.tr-19 {
    grid-area: tr-19;
}

.tr-20 {
    grid-area: tr-20;
}

.tr-21 {
    grid-area: tr-21;
}

.tr-22 {
    grid-area: tr-22;
}

.tr-23 {
    grid-area: tr-23;
}

.tr-24 {
    grid-area: tr-24;
}

.tr-25 {
    grid-area: tr-25;
}

.tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.fill-form{
    position: relative;
    margin-top: 150px;
}

.fillform {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    min-height: 500px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
}

.formtitle {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: #0dff00;
    margin-bottom: 10px;
}

.formtitle::before {
    width: 18px;
    height: 18px;
}

.formtitle::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.formtitle::before,
.formtitle::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #0dff00;
}

.return-back {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.return-back {
    text-align: center;
}

.return-back a:hover {
    text-decoration: underline #41e161;
}

.return-back a {
    color: #00ff19;
}

.fillflex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.fillform label {
    position: relative;
}

.fillform label .fill-input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.fillform label .fill-input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.fillform label .fill-input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.fillform label .fill-input:focus + span,
.fillform label .fill-input:valid + span {
    color: #1bb601;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.fill-input {
    font-size: medium;
}


.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #05b611;
}

.submit:hover {
    background-color: rgba(41, 255, 30, 0.59);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.no-result{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(6, 0, 117, 0.61);
    backdrop-filter: blur(20px);
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(23, 5, 158, 0.5);
    font-size: 18px;
    font-weight: 500;
}