*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("bg1.png") no-repeat fixed;
    background-size: cover;
}

.app-title{
   position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

.app-title h1{
    color: wheat;
    text-align: center;
    font-size: 36px;
}

.container{
    width: 400px;
    position: absolute;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 35px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0,0,0,.6);
}

.container h1{
    color: aliceblue;
    text-align: center;
}

.container .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 48px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forget{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forget label{
    color: #eef699;
    margin-right: 3px;
}

.remember-forget label input{
    color: white;
    margin-right: 3px;
}
.remember-forget a{
    color: white;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.container .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.container .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p {
    color: #f2db91;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}